/* set for all */
* {
  margin: 0;
  padding: 0;
  /* background-color: rgb(48, 127, 197); */
  /* it was wrong-don't use color here, it will add space to header */

  /* add font from google.font.com */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* primary: dark yellow, secondary: light yellow */
:root{
    --bs-primary: #1d504f;
    --bs-primary-rgb: 45, 113,112;
    --bs-secondary: #73B19C;
    --bs-secondary-rgb: 115, 177,156;
    /* --bg-tertiary: #D9D9D9;
    --bs-tertiary-rgb: 217, 217,217; */

}



/* hero section */
.banner {
    background: url(../images/screen-derivatives/screen-1440_x_771.jpg) no-repeat center;
    background-size: cover;
    width: 100vw; /* Set width to 100vw (viewport width) */
    height: 100vh; /* Set height to 100vh (viewport height) */
    /* background-attachment: fixed; */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}



/* hero section */
.banner-more {
    background: url(../images/chat-fix-derivatives/chat-fix-1440_x_441.jpg) no-repeat center;
    background-size: cover;
    height: 50vh;
    /* Set height to 100vh (viewport height) */
    /* height: auto; */
    /* background-size: contain; */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}


/* about page main banner section */
.banner-about {
    background: url(../images/mooncity-derivatives/mooncity-1440_x_771.jpg) no-repeat center;
    background-size: cover;
    width: 100vw; /* Set width to 100vw (viewport width) */
    height: 100vh; /* Set height to 100vh (viewport height) */
    /* background-attachment: fixed; */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}



/* contact page main banner section */
.banner-contact {
    background: url(../images/banner-contact-derivatives/banner-contact-1440_x_771.jpg) no-repeat center;
    background-size: cover;
    width: 100vw; /* Set width to 100vw (viewport width) */
    height: 100vh; /* Set height to 100vh (viewport height) */
    /* background-attachment: fixed; */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}


.custom-input {
    background-color: var(--bs-secondary);
    color: white; 
}


/* change placeholder text colo */
input::placeholder,
textarea::placeholder {
        color: white !important; 
    }

